<div class="mock" *ngFor="let task of tasks">
	<table>
		<tr>
			<th>
				<p>{{task._name}}</p>
				<a>Edit task name</a><br>
				<input [(ngModel)]="task._name" placeholder="task._name"><br>
				<a>{{task.getDate() | date}}</a>
				<br><br><br>
			</th>
			<th>
				<button (click)="completeTask(task)"><span>Task completed!</span></button>
			</th>
		</tr>
	</table>
</div>
<div class="complete">
	<button>
		Add New Task!<br>
		<input #box (keyup.enter)="addTask(box.value)" placeholder="Name Of The Task" required>
	</button><br><br>
</div>
<div class="options">
	 <button (click)="homePage()" *ngIf="!show">Back</button>
	 <button (click)="showCompleted()" *ngIf="!show">Show Completed Tasks  {{getPercentage()}}%</button>
</div>

<div class="completed" *ngIf="show">
	<div *ngFor="let _task of completed">
		<table>
			<tr>
				<th>
					<p>{{_task._name}}</p>
					<a>{{_task.getDate()}}</a>
					<br><br><br>
				</th>
			</tr>
		</table>
	</div>
</div>
<div class="options">
	<button (click)="homePage()" *ngIf="show">Back</button>
	<button (click)="hideCompleted()" *ngIf="show">Hide Completed Tasks  {{getPercentage()}}%</button>
</div>
